div {
    font-family: 'Roboto', sans-serif;
}

.space {
    margin-bottom: 10em;
}

.big-space {
    margin-bottom: 8em;
}

figcaption {
    color: darkgreen;
    font-style: italic;
}
.spacetime {
    background-image: url(/img/spacetime.svg);
    background-color: transparent;
}

body {
    margin: 18em 0;
    text-align: center;
    width:100%;
}

li {
    list-style-type:none;
}

.italic{
    font-style: italic;
}

.options li {
    margin-bottom: 1em;
}

.equals {
    font-size: 5em;
}

.bold {
    font-weight: bold;
}

.logo {
    width: 5em;
    height: 5em;
}

.small-logo {
    width: 3em;
    height: 3em;
}

.respire{
    padding-left: 1em;
    padding-right: 1em;
    padding-bottom: 1em;
}